<!DOCTYPE html>
<html
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>User Data</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script type="text/javascript"
	th:src="@{/webjars/jquery/3.6.1/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.min.js}"></script>

</head>

<body>
	<div>
		<p>File Autres_renumerat</p>
		<input type="file" name="file1" id="file1">
	</div>
	<br>
	<div>
		<p>File Commission</p>
		<input type="file" name="file2" id="file2">
	</div>
	<br>
	<div>
		<p>File Honoraire</p>
		<input type="file" name="file3" id="file3">
	</div>
	<form action="/SpringMVCApp1/login/exportPDF" method="post" enctype="multipart/form-data">
		<input type="file" id="myFile" name="filename1">
		<input type="file" id="myFile" name="filename2">
		<input type="file" id="myFile" name="filename3">
		<input type="submit">
	</form>
	<br>
	<br>
	<br>
	<!-- 	<a -->
	<!-- 		th:href="@{/login/exportPDF()}" -->
	<!-- 		class="btn btn-primary">Export to PDF</a> -->
	<a th:href="@{/login/exportPDF}" class="btn btn-primary">Export to
		PDF</a>



	<script type="text/javascript">
		$(document).ready(function() {
			$("#btnClear").on("click", function(e) {
				e.preventDefault();
				$("#keyword").text("");
				window.location = "[[@{/login/success}]]";
			});
		});

		function changePageSize() {
			$("#searchForm").submit();
		}
	</script>


</body>

</html>